*
!.dockerignore
!Dockerfile
!package.json
!package-lock.json
!.ember-cli
!babel.config.mjs
!ember-cli-build.js
!index.html
!jsconfig.json
!tsconfig.json
!vite.config.mjs
!app
!app/**
!config
!config/**
!public
!public/**
!translations
!translations/**
!types
!types/**
!.nginx
!.nginx/nginx.conf
