:root {
  --ecn-container-position: 10px;
  --ecn-container-width: 80%;
  --ecn-container-max-with: 400px;

  --ecn-icon-width: 30px;
  --ecn-icon-color: rgba(255, 255, 255, 0.74);
  --ecn-icon-lighten-background: rgba(255, 255, 255, 0.2);
  --ecn-countdown-lighten-background: rgba(255, 255, 255, 0.4);
  --ecn-notification-max-height: 800px;
  --ecn-notification-border-radius: 3px;

  --ecn-green: #64ce83;
  --ecn-blue: #3ea2ff;
  --ecn-orange: #ff7f48;
  --ecn-red: #e74c3c;

  --ecn-spacing-1: 0.5rem;
  --ecn-spacing-2: 1rem;
}

.ember-cli-notifications-notification__container {
  position: fixed;
  margin: 0 auto;
  width: var(--ecn-container-width);
  max-width: var(--ecn-container-max-with);
}

.ember-cli-notifications-notification__container--top {
  top: var(--ecn-container-position);
  right: 0;
  left: 0;
}

.ember-cli-notifications-notification__container--top-left {
  top: var(--ecn-container-position);
  right: auto;
  left: var(--ecn-container-position);
}

.ember-cli-notifications-notification__container--top-right {
  top: var(--ecn-container-position);
  right: var(--ecn-container-position);
  left: auto;
}

.ember-cli-notifications-notification__container--bottom {
  right: 0;
  bottom: var(--ecn-container-position);
  left: 0;
}

.ember-cli-notifications-notification__container--bottom-left {
  right: auto;
  bottom: var(--ecn-container-position);
  left: var(--ecn-container-position);
}

.ember-cli-notifications-notification__container--bottom-right {
  right: var(--ecn-container-position);
  bottom: var(--ecn-container-position);
  left: auto;
}

.ember-cli-notifications-notification__container .c-notification {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin-bottom: var(--ecn-spacing-2);
  border-radius: var(--ecn-notification-border-radius);
  color: white;
  max-height: var(--ecn-notification-max-height);
  animation:
    notification-hide 250ms cubic-bezier(0.33859, -0.42, 1, -0.22),
    notification-shrink 250ms 250ms cubic-bezier(0.5, 0, 0, 1);
  animation-fill-mode: forwards;
}

.ember-cli-notifications-notification__container .c-notification--clickable {
  cursor: pointer;
}

.ember-cli-notifications-notification__container .c-notification--in {
  animation: notification-show 180ms cubic-bezier(0.175, 0.885, 0.32, 1.27499);
}

.ember-cli-notifications-notification__container .c-notification__content {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  padding: var(--ecn-spacing-1) var(--ecn-spacing-2);
  word-break: break-word;
}

.ember-cli-notifications-notification__container .c-notification__content a {
  color: #fff;
  text-decoration: underline;
}

.ember-cli-notifications-notification__container .c-notification__icon {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: var(--ecn-icon-width);
  padding: var(--ecn-spacing-1) 0;
  text-align: center;
  background-color: var(--ecn-icon-lighten-background);
  color: var(--ecn-icon-color);
}

.ember-cli-notifications-notification__container .c-notification__svg {
  display: block;
  width: 16px;
  height: 16px;
}

.ember-cli-notifications-notification__container .c-notification__message {
  flex: 1 1 auto;
  line-height: 1.2;
}

.ember-cli-notifications-notification__container .c-notification__close {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  margin-left: var(--ecn-spacing-2);
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  line-height: 0;
  opacity: 0.74;
  cursor: pointer;
}

.ember-cli-notifications-notification__container .c-notification__close:hover,
.ember-cli-notifications-notification__container .c-notification__close:focus {
  opacity: 1;
}

.ember-cli-notifications-notification__container .c-notification__countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--ecn-countdown-lighten-background);
  animation: notification-countdown linear 1;
}

.ember-cli-notifications-notification__container .c-notification--info {
  background-color: var(--ecn-blue);
}

.ember-cli-notifications-notification__container .c-notification--success {
  background-color: var(--ecn-green);
}

.ember-cli-notifications-notification__container .c-notification--warning {
  background-color: var(--ecn-orange);
}

.ember-cli-notifications-notification__container .c-notification--error {
  background-color: var(--ecn-red);
}

@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: var(--ecn-notification-max-height);
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(0.8);
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
